<%- include("../partials/header") %>


<div class="showstore-container">
    <h1><%= store.name %></h1>
    <img src="<%= store.image %>" alt="">

    <h4 class="showstore-info"> <span>RP.<%= store.price %></span>  <span><%= store.date.getDate() + "-" + (store.date.getMonth()+1) + "-" +store.date.getFullYear() %></span> </h4>
    <p>
        <%= store.description %>
    </p>


    <a href="/store/<%= store._id %>/edit" class="btn btn-secondary">Edit</a>
    <a href="#" class="btn btn-secondary"> BUY!</a>
    <form action="/store/<%= store._id %>?_method=DELETE" method="POST" style="display: inline;"><button class="btn btn-secondary btn-sm">Delete</button></form>
 
   

</div>


<%- include("../partials/footer") %>